@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-family: "Roboto";
        --light-color: #DBEFFA;
        --dark-color: #04C9D8;
        --text-color: #343C44;
    }
}